footer {
    z-index: 1;
    .footer_left {
        position: relative;
        padding: 60px 30px;
        border-top-right-radius: 8px;
        background: linear-gradient(145deg, #f81f01 0%, #ee076e 100%);
        z-index: 1;
        .inset {
            position: relative;
            z-index: 5;
            p {
                color: #fff !important;
                font-size: 15px;
                text-transform: uppercase;
                letter-spacing: 4px;
                display: block;
                margin-bottom: 9px;
            }        
            h2 {
                font-size: 45px !important;
                line-height: 51px !important;
                color: #ffffff;
                font-weight: 900;
                margin-bottom: 20px;
            }
            button {
                margin-top: 30px;
                font-size: 16px;
                text-transform: uppercase;
                letter-spacing: 2px;
                border: 2px solid #fff;
                color: #fff;
                padding: 15px 40px;
                border-radius: 6px;
                display: inline-block;
                font-weight: 500;
                background: transparent;
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
                &:hover {
                    margin-top: 26px;
                    margin-bottom: 4px;
                    background-color: #fff;
                    color: red;
                }
            }
            ::after {
                position: absolute;
                // content: url("../images/big-logo.png");
                right: 0;
                top: 0;
                bottom: auto;
                z-index: -1;
                width: 295px;
                height: 301px;
            }
        }

        &::after {
            position: absolute;
            border-top-right-radius: 8px;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // background-image: url("../images/pattern-1.png");
            content: "";
            z-index: 1 !important;
            opacity: 0.5;
        }
    }
    .footer_right {
        position: relative;
        background: #101010;
        padding: 100px 10px 0 10px;
        z-index: 1;

        h4 {
            color: #c6c9d8;
            font-weight: 500;
            margin-bottom: 30px;
            opacity: 0.75;
        }
        ul {
            li {
                color: #c6c9d8;
                font-size: 16px;
                font-weight: 500;
                opacity: 0.75;
                transition: all 0.3s ease-in-out;
                margin-bottom: 20px;
                cursor: pointer;
                &:hover {
                    color: #ca3c08;
                }

                ul.messenger {
                    li {
                            color: #c6c9d8;
                            transition: all .2s ease-in-out;
                            cursor: pointer;
                        &:hover {
                            opacity: 1;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .ff {
            p {
                color: rgba(198, 201, 216, 0.75) !important;
                a {
                    color: rgba(198, 201, 216, 0.75) !important;
                    margin-left: 5px;
                }
            }
        }
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: 100%;
            height: 100%;
            background-color: #00010c;
            z-index: -1;
        }
    }

    @media (min-width: 768px) {
        .footer_left {
            padding: 60px 70px;
            .inset {
                h2 {
                    font-size: 75px;
                    font-weight: 900;
                }
            }
        }
        .footer_right {
            padding: 150px 70px 0 70px;
        }
    }
    @media (min-width: 1200px) {
        .footer_left {
            padding: 120px 120px;
            .inset {
                p {
                    font-size: 15px;
                }
                h2 {
                    font-size: 75px !important;
                    line-height: 90px !important;
                }
                button {
                    font-size: 16px;
                    padding: 15px 40px;
                }
            }
        }
    }
}
