

#app {
    position: relative;
    scroll-behavior: smooth;
    .during_night {
        position: fixed;
        bottom: 50px;
        left: 50px;
        box-shadow: 0 0 10px rgb(0 0 0 / 5%);
        width: 40px;
        height: 40px;
        border-radius: 100px;
        z-index: 9999 !important;
        &.during {
            background-color: #fff;
        }
        &.night {
            background: #191919;
            color: rgba(198, 201, 216, 0.75);
        }
        button {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            box-shadow: inset 0 0 0 0;
        }
    }
    .btn_buy_now {
        height: 46px;
        border: 2px solid #b1b4c1 !important;
        border-radius: 6px !important;
        font-size: 14px !important;
        font-weight: 500;
        color: #c6c9d8 !important;
        box-shadow: inset 0 0 0 0;
        padding: 0 25px !important;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

        &:hover {
            border: 2px solid #dc3545 !important;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
    }

    &.night {
        background: #191919;
        color: rgba(198, 201, 216, 0.75);
    }
}