section#testimonial {
    padding: 100px 0;
    .section_title {
        p {
            position: relative;
            font-size: 17px !important;
            line-height: 30px !important;
            text-align: center;
            font-weight: 400;
            padding-bottom: 62px;
            z-index: 9;
            &::after {
                position: absolute;
                top: -40%;
                left: 30%;
                width: 50%;
                height: 100%;
                // background-image: url('../images/image-1.png');
                background-repeat: no-repeat;
                content: '';
                z-index: -1;
            }
            @media (min-width: 768px) {
                &::before {
                    position: absolute;
                    bottom: -50%;
                    right: 0;
                    width: 50%;
                    height: 100%;
                    // background-image: url('../images/image-2.png');
                    background-repeat: no-repeat;
                    content: '';
                    z-index: -1 !important;
                }
            }
            
        }
        h6 {
            line-height: 20px;
            font-size: 14px;
            text-align: center;
            margin-bottom: 60px;
            z-index: 999 !important;
        }
    }

    .section_body {
        max-width: 510px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        .card {
            position: relative;
            width: 72px !important;
            height: 72px !important;
            background-color: transparent;
            margin: 15px;
            border: 0;
            cursor: pointer;
            transition: all 0.3s;
            img {
                max-width: 100%;
                border-radius: 5px;
            }
            &:hover {
                box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
                transform: scale(1.1);
            }
        }
        .active {
            &.card {
                transform: scale(1.1);
                &::after {
                    position: absolute;
                    top: -6px;
                    right: -6px;
                    content: "";
                    width: 13px !important;
                    height: 13px !important;
                    border-radius: 50%;
                    background: #f9004d;
                    z-index: 9;
                }
            }
        }
    }
    

    @media (min-width: 768px) {
        .section_title {
            p {
                font-size: 28px !important;
                line-height: 48px !important;
                font-weight: 500;
                padding: 0 9% !important;
            }
            h6 {
                margin-top: 50px;
                font-size: 18px;
                line-height: 50px;
                font-weight: 400 !important;
            }
        }
        
    }
    @media (min-width: 1200px) {
        .section_title {
            p {
                font-size: 36px !important;
                line-height: 58px !important;
            }
        }
    }
}

.during {
    section#testimonial {
        background: #f8f9fc;
        .section_title {
            p {
                color: #000;
            }
            h6 {
                color: #8c8c8c;
                span {
                    color: #18181b;
                }
            }
        }
    }
}

.night {
    section#testimonial {
        background: #101010;
        .section_title {
            p {
                color: #fff;
                &::after {
                    display: none !important;
                }
                &::before {
                    display: none !important;
                }
            }
            h6 {
                color: #8c8c8c;
                span {
                    color: #fff;
                }
            }
        }
    }
}