section#section_7 {
    padding: 100px 0;
    .title {
        h1 {
            font-size: 30px !important;
            margin-bottom: 10px !important;
            font-weight: 700;
        }
        p {
            max-width: 540px;
            font-size: 18px;
            line-height: 30px;
            color: rgba(29, 29, 36, 0.75);
            margin-bottom: 50px;
        }
    }

    .slide {
        .swiper-container {
            padding-bottom: 70px;
            .swiper-pagination {
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    margin: 0 10px;
                    &.swiper-pagination-bullet-active {
                        width: 14px;
                        height: 14px;
                        border: 3px solid #f6004c;
                        background: transparent;
                    }
                }
            }  
            .card {
                position: relative;
                background: transparent;
                border: 0;
                border-radius: 8px;
                transition: all .28s ease-in-out;
                overflow: hidden;
                cursor: pointer;
                
                img {
                    position: relative;
                    width: 100%;
                    border-radius: 8px;
                    transition: all 0.28s ease-in-out;
                }
                .card-body {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -90px;
                    padding: 40px;
                    z-index: 999;
                    transition: all 0.28s ease-in-out;
                    .card-text {
                        color: #c6c9d8;
                        font-size: 14px;
                    }
                    .card-title {
                        font-size: 24px;
                        line-height: 36px;
                        font-weight: 600;
                        color: #ffffff;
                    }
                    button.btn {
                        padding: 0 23px;
                        height: 40px;
                        display: inline-block;
                        line-height: 34px;
                        border: 2px solid rgba(255, 255, 255, 0.3);;
                        background: transparent;
                        border-radius: 4px;
                        font-size: 14px;
                        position: relative;
                        z-index: 2;
                        color: #fff;
                        letter-spacing: 0.2px;
                        text-transform: uppercase;
                        margin-top: 20px;
                        margin-bottom: 10px;
                        transition: all 0.2s ease-in-out;
                        &:hover {
                            margin-top: 16px;
                            margin-bottom: 14px;
                            border-color: #f6004c;
                            background: #f6004c;
                            color: #fff;
                        }
                    }
                }
                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: '';
                    border-radius: 5px;
                    z-index: 1;
                    background-color: rgba(25, 25, 25, 0.37);
                }
                &:hover {
                    img {
                        transform: scale(1.05);
                    }
                    .card-body {
                        bottom: 0;
                    }
                    &::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: '';
                        width: 100%;
                        height: 100%;
                        z-index: 11;
                        border-radius: 5px;
                        transition: all 2s ease-in-out;
                        background-image: linear-gradient(#f6004c 10%, #000000 100%);
                        opacity: 0.85;
                    }
                }
            }
        }
    }

    

    @media (min-width: 768px) {
        .title {
            h1 {
                font-size: 60px !important;
                margin-bottom: 8px !important;
            }
        }
    }
}

.night {
    section#section_7 {
        .title {
            h1 {
                color: #fff;
            }
            p {
                color: rgba(198, 201, 216, 0.75);
            }
        }
        .slide {
                .swiper-pagination-bullet {
                    background: #fff;
                    opacity: 1;
                }
        } 
    }
}
