section#section_5 {
    padding: 100px 0;

    .title {
        h1 {
            font-size: 60px !important;
            margin-bottom: 8px !important;
            font-weight: 700 !important;
            
        }
        p {
            font-size: 18px;
            line-height: 30px;
        }
    }
    .card {
        position: relative;
        transition: all 0.5s ease-in-out;
        border-radius: 10px;
        img {
            border-radius: 6px !important;
        }
        .card-body {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            padding-left: 10% !important;
            .card-title {
                position: relative;
                width: 100%;
                height: 30px;
                margin-bottom: 0;
                h4 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    font-weight: 600;
                    color: #fff;
                    opacity: 0;
                    transform: translateY(20px);
                    transition-delay: 0.25s;
                    transition: all 0.45s cubic-bezier(0.23, 0.88, 0.34, 0.99);
                    // transition: all 0.5s ease-in-out;
                }
            }
            .card-text {
                position: relative;
                width: 100%;
                height: 50px;
                padding-bottom: 20px;
                p {
                    position: absolute;
                    width: 100%;
                    top: 0;
                    font-size: 14px;
                    line-height: 34px;
                    color: #c6c9d8;
                    opacity: 0;
                    transform: translateY(10px);
                    transition-delay: 0.33s;
                    transition: all 0.5s ease-in-out;
                }
            }
            
        }
        ul.messenger {
            position: absolute;
            width: 100%;
            top: 30px;
            left: 0;
            display: flex;
            list-style: none;
            z-index: 9;
            li {
                position: relative;
                margin: 0 5px;
                color: white;
                font-weight: 600;
                opacity: 0;
                // font-size: 10px;
                transition: all 0.5s ease-in-out;
            }
        }
        &::after {
            transition: all 0.5s ease-in-out;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fc004d), to(#000000));
            background: -webkit-linear-gradient(top, #fc004d 0, #000000 100%);
            background: -o-linear-gradient(top, #fc004d 0, #000000 100%);
            background: linear-gradient(to bottom, #fc004d 0, #000000 100%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border-radius: 6px;
            content: "";
            z-index: 1;
            opacity: 0;
        }
        &:hover {
            transition: all 0.5s ease-in-out !important;
            .card-body {
                
                
                z-index: 999 !important;
                .card-title h4 {
                    opacity: 1;
                    transform: translateY(0);
                    // visibility: visible;
                    // transition: all 0.5s ease-in-out;
                }
                .card-text p {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            ul.messenger {
                li {
                    opacity: 1;
                    // font-size: 14px;
                }
            }
            &::after {
                opacity: 0.85;
            }
        }
    }
}

.during section#section_5 {
    .title {
        h1 {
            color: #1f1f25 !important;
        }
        p {
            color: rgba(29, 29, 36, 0.75);
        }
    }
}

.night section#section_5 {
    .title {
        h1 {
            color: #fff !important;
        }
        p {
            color: rgba(198, 201, 216, 0.75);
        }
    }
}